body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    color: rgb(73, 73, 73);
}

h2 {
    color: rgb(73, 73, 73);
}

.span-color {
    color: rgb(98, 150, 15);
}

.flexible-content {
    display: flex;
    margin-bottom: 50px;
}

.eat-healthy-details {
    width: 70%;
    padding-left: 90px;
    padding-top: 150px;

}

.paragraph-tag {
    padding-top: 20px;
    color: rgb(114, 112, 112);
    padding-bottom: 30px;
}

.paragraph-tag-color {
    color: rgb(114, 112, 112);
}

.remove-padding-h3 {
    padding-bottom: 0;
}

p {
    padding: 0;
    margin: 0;
}

.eat-healthy-img {
    width: 80%;
    padding-right: 120px;
    padding-top: 20px;
}

.eat-healthy-img img {
    width: 90%;
    padding: 5%;
}

a {
    text-decoration: none;
    background-image: linear-gradient(rgb(15, 164, 190), rgb(85, 151, 59));
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

.about-me-img {
    width: 80%;
    padding-top: 20px;
    padding-left: 150px;
}

.about-me-img img {
    width: 60%;
    padding: 5%;
}

.about-section {
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
}

.about-me-details {
    width: 70%;
    padding-right: 140px;
    padding-top: 100px;
    text-align: justify;
}

.about-me-details-anchor {
    margin-top: 150px;

}

.give-shadow {
    box-shadow: 0.4px 0.4px 5px black;
}

.recipies-starting {
    text-align: center;
    width: 50%;
    padding-left: 330px;
}

.remove-padding {
    padding: 0;
    margin: 0;
}

.recipe-side-by-side {
    width: 50%;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 5px 15px gray;
    border-radius: 30px;
}

.followers-list-div {
    width: 50%;
    padding: 20px;
    text-align: center;
}

.section-border {
    box-shadow: 5px 5px 15px gray;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.recipe-side-by-side img {
    width: 100%;
    height: 60%;
}

.padding-to-recipe-card {
    padding-top: 30px;
}

.footer-section {
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(6, 29, 51);
}

.footer-h3 {
    color: rgb(73, 73, 73);
    padding-top: 30px;
}

.footer-span {
    color: rgb(22, 126, 126);
    padding-right: 5px;
}

.padding-footer {
    padding-bottom: 80px;
}

.set-followers-margin {
    margin-bottom: 120px;
    margin-top: 90px;
}

.follower-h1-color-change {
    color: black;
}